* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Euclid Circular A", sans-serif;
}

.text-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0266f2;
}

ul {
  list-style-type: none;
}

.text-16 {
  font-size: 16px;
  line-height: 28px;
}

.text-gray {
  color: #718096;
}

.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.section-left {
  background-color: #fffcf7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  height: 100vh;
}

.section-right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

h2 {
  font-size: 36px;
}

ul {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
}

.accounts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.brands {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.form-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 28px;
  max-width: 98%;
  transition: 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.form-group-row {
  display: flex;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
}

input,
select {
  padding: 12px 20px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  font-weight: bold;
  box-sizing: border-box;
  outline: none;
}

input:focus,
select:focus {
  border: 2px solid #0266f2;
}

input::placeholder,
select > option,
input[type="date"] {
  color: #718096;
}

button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #0266f2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.auth-para {
  text-align: right;
}

.form-group i {
  position: absolute;
  top: 36px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  color: #718096;
}

.content-hide {
  display: none;
}

/* Responsive design */

@media screen and (max-width: 1024px) {
  .section-left {
    display: none;
  }

  .auth-para {
    text-align: center;
  }

  section {
    width: 100%;
  }

  .section-right {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .form-group-row {
    display: flex;
    flex-direction: column;
  }
}
